.profileData_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  gap: 1em;
}

.appointmentsUserContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 30em;

  justify-content: center;
  gap: 2em;
}
.editAppointment_container {
  background-color: blue;
  width: 4em;
}

.table_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
}

.profileData_container input {
  width: 15em;
  border-color: transparent transparent transparent;
  background-color: transparent;
}
.profileData_container img {
  color: azure;
  width: 1.5em;
}
.profileData_container button {
  margin: 0.2em;
}

button {
  box-shadow: 1px 1px 3px black;
}

.btn_conatiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
}
.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 15em;
}
.imgBtn {
  display: flex;
  align-items: center;
  width: 25em;

  background-color: aqua;
}

.imgBtn img {
  width: 100%;
}
.icons_container {
  display: flex;
  box-shadow: 1px 1px 3px black;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;

  width: 24em;
  height: 5.5em;
}
.iconProfile {
  border: transparent transparent;
}
.iconProfile img {
  filter: drop-shadow(2px 2px 2px black);
  width: 3em;
}

.iconProfile img:hover {
  filter: drop-shadow(2px 2px 2px rgb(212, 212, 211));
}
.profile_title {
  background: linear-gradient(#436eff, #06b8ff);
  /* background-color: #d4edff; */
  color: rgb(248, 248, 248);
}
.todo_component{
  display: flex;
  flex-direction:column;
  gap: 1em;
  
}
.todo_component input{

  border: 2px solid #1bc29f;
  border-radius: 8px;
  width: 19em;
  height: 3em;
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
 box-shadow: 2px 2px 2px black;
 
  
}
.todo_component img{
  width: 3em;
  filter: drop-shadow(2px 2px 2px black);
}

.task_container{
  display: flex;
  gap: 0.2em;
  
}


.rmdp-container input{
  width: 4em;
  height: 3em;
  background-color: #1fc7a2;
  color: #ffffff;
  font-weight: bold;
  filter: drop-shadow(1px 1px 2px black);
}
.date_container{
  display: flex;
  justify-content: center;
  align-items: center;
  

 
}
.date_container input{
  text-align: center; 
  width: 8em;
 

}
.prueba{
  display: flex;
  flex-direction: column;
  width: 5em !important;
  font-size: 0.9em !important;
}
.react-datepicker__input-container{
  display: flex;
  flex-direction: column;
}

.allTasks{
  display: flex;
  flex-direction: column-reverse;
}

.table_container{
  display: flex;
  
  justify-content: center;
  align-items: center;
}
.allTasks_container1_active{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items:baseline;
  
  /* border: 4px solid  #1bc29f;
  background-color: #88decb; */
  width: 25em;
  height: 5em;
  color: #000000;
  /* text-shadow: 1px 1px 2px black; */
  border-radius: 15px;
  padding: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  box-shadow: 1px 1px 5px  #00b890;

}
.allTasks_container1_inactive{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items:baseline;
  text-decoration: line-through;
  
  /* border: 4px solid  #1bc29f;
  background-color: #88decb; */
  width: 25em;
  height: 5em;
  color: #ff0000;
  /* text-shadow: 1px 1px 2px black; */
  border-radius: 15px;
  padding: 0.5em;
  margin-top: 0.5em;
  text-align: center;
  box-shadow: 1px 1px 5px  #757575;

}
.allTasks_container2_active{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items:baseline;
  /* border: 4px solid  #fd4b85;
  background-color: #ffa3b2; */
  width: 25em;
  height: 5em;
  color: #000000;
  /* text-shadow: 1px 1px 2px black; */
  border-radius: 15px;
  padding: 0.5em;
  margin-top: 0.5em;
  box-shadow: 1px 1px 5px  #e9778a;
  	


}
.inputTask input{
  display: flex;

  width:4em;
  
  
}

.hour{
  display: flex;
  justify-content: center;
  align-items: end;
  width: 3em;
  height: 3.5em;
  text-align: center;
  font-size: 1.1em;
}
.task{
  display: flex;
  width: 18em;
  height: 9.5em;
  /* text-decoration: line-through; */

  text-align: center;
  font-size: 1em;
}
.alert_task{
  text-align: center;
  color: red;
}
.check_Task img{
  width: 1em;
  height: 1em;
  margin: 0.1em;
}
.family_name{
  display: flex;
  text-align: center;
  justify-content: center;
}
.btnNotification2 {
  position: absolute !important;
  background-color: rgb(246, 91, 91);
  border-color: transparent transparent transparent;
  border-radius: 50%;
  width: 1.8em;
  height: 1.8em;
  color: azure;
  font-size: 0.9em !important;
  text-align: center;
  margin-left: -1em !important;
  margin-top: 2em !important;
  text-shadow: 1px 1px 2px black;
}

.allShop{
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
}

.shop_container{
  display: flex;
  flex-direction: row;
  width: 20em;;
}
.shop_container2{
  display: flex;
}

.shopname{
  display: flex;
  width: 12em;
}
.shopimg{
  display: flex;
  width: 5em;
  height: 3em;
}
.shopimg img{
  display: flex;
  width: 3em;
  height: 3em;
}
.check_shop{
  display: flex;
  width: 4em;
  height: 4em;
}
.check_shop img{
  display: flex;
  width: 1em;
  height: 1em;
}